html,
body {
  margin: 0;
  padding: 0;
}

header {
  background: white;
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  top: 0;
  padding: 8px;
  z-index: 1;

  input {
    border-radius: 9999px;
    border: 1px solid #cccccc;
    padding: 8px;
    box-sizing: border-box;
    width: 100%;
  }
}

main {
  margin: 8px;
  // TODO: There has to be a better way of doing fixed headers
  margin-top: 50px;

  section {
    h2 {
      font-family: sans-serif;
      text-align: center;
    }

    article {
      margin: 8px 0;

      figure {
        position: relative;
        margin: 0;
        padding: 0;

        img {
          display: block;
          width: 100%;
          height: auto;
        }

        figcaption {
          display: block;
          position: absolute;
          box-sizing: border-box;
          width: 100%;
          bottom: 0;
          padding: 4px;
          background-color: rgba($color: black, $alpha: 0.5);
          color: white;
        }
      }
    }
  }
}

.giphy-attribution {
  font-family: sans-serif;
  font-weight: bold;
  font-size: large;
  text-align: center;
}
